<p>Hi, I'm <strong>locks</strong> and this is my website. Pretty cool, huh?</p>
<p>
  You can check what I'm
  <LinkTo @route='now'>up to these days</LinkTo>. Or follow me on
  <a href='https://ciberlandia.pt/@locks' rel='me'>Mastodon</a>
  or check my
  <a href='https://github.com/locks/'>Open Source work</a>.
</p>
<p>See you around!</p>