<h1>
  Now
</h1>
<p>
  What am I up to?
</p>
<h2>
  Reading
</h2>
<p>
  I haven't been putting a lot of time aside for reading lately, but I do have some things pending.
</p>

<h3>Thinking in Systems</h3>
<p>
  I've really been enjoying Donella H. Meadows' "Thinking in Systems".
  I feel like this is a book I'll be coming back to once in a while to refresh and improve my understanding of the subject.
</p>
<p><a href="https://www.audible.com/pd/Thinking-in-Systems-Audiobook/B07FWBN4Q5?qid=1612988926&sr=1-1&ref=a_search_c3_lProduct_1_1&pf_rd_p=83218cca-c308-412f-bfcf-90198b687a2f&pf_rd_r=4903FWNS4RTJ5RDSXE3T">Audible</a></p>