<h1>
  Now, what am I up to?
</h1>
<p>[last edit: 2022/01/09]</p>

<h2>
  Reading
</h2>

<h3><a
    href='https://www.goodreads.com/book/show/48505565-a-noite-em-que-o-ver-o-acabou'
  > <cite>A noite em que o Verão Acabou</cite> </a></h3>
<p>
  I decided to use some vacation time to get started on João Tordo's
  <a
    href='https://www.goodreads.com/book/show/48505565-a-noite-em-que-o-ver-o-acabou'
  ><i>A noite em que o Verão Acabou</i></a>.
</p>
<p>I got into a lull in the narrative and I haven't picked it up since. I'm
  returning to it soon.</p>

<h3><a href='https://www.goodreads.com/book/show/54736620-ask-iwata'>
    <cite>Ask Iwata: Words of Wisdom from Satoru Iwata, Nintendo's Legendary CEO</cite></a></h3>
<p>
  I recently found out about
  <cite>Ask Iwata</cite>
  and had to immediately get it. I am not expecting deep truths about the
  universe, but any excuse to spend some time with Iwata is more than welcome.
</p>

<h3><a href='https://www.goodreads.com/book/show/31776544-monitor'><cite
    >Monitor</cite></a></h3>

<p>As a fan of both the Android universe,–originally through Android: Netrunner,
  and then the
  <a href='https://www.goodreads.com/series/117354-identity'>Mel Odom trilogy</a>–
  and of Leigh, I tried to get a physical copy of this book when it originally
  came out. Unfortunately I was not successful, as it seemed to have a pretty
  limited print run that was exclusive to the US.
</p>
<p>I have since bought it on my Kindle and read the opening paragraph. It's a
  quick read, so I'll sneak it in one of these days.</p>

<h2>Open Source</h2>

<h3>Ember.js</h3>

<p>I'm still doing the
  <a href='https://emberjs.com/teams/'>Core team</a>
  work, meetings, project maintenance and so on.</p>
<p>Recenty and more interestingly, I have resumed work on
  <a
    href='https://github.com/ember-learn/tool-new-release'
  >tool-new-release</a>, a command-line binary to help the Learning team go
  through the release process for new Ember versions.</p>